﻿@page
    <div class="container">
        <div class="row">
            <div class="col-6">
                <ul id="usersCount"></ul>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div id="login">
            <div class="row">
                <div class="col-2">User</div>
                <div class="col-4"><input type="text" id="userName" /></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">
                    <input type="button" id="loginButton" value="Login" />
                </div>
            </div>
        </div>

        <div id="message" class="hidden">
            <div class="row">
                <div class="col-2">Message</div>
                <div class="col-4"><input type="text" id="messageInput" /></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">
                    <input type="button" id="sendButton" value="Send Message" />
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/chat.js"></script>